<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="G:/Abul Hossain Chowdhury/Projects/Cucumber_For_AIR">
        <classes>
            <class name="org.example.Runner.DashboardTestRunner"></class>
            <class name="org.example.Runner.ContactsTestRunner"></class>
            <class name="org.example.Runner.PreInvoiceTestRunner"></class>
            <class name="org.example.Runner.PreviousPendingDeliveryTestRunner"></class>
            <class name="org.example.Runner.OrderTestRunner"></class>
            <class name="org.example.Runner.CancelOrderTestRunner"></class>
            <class name="org.example.Runner.DistributorInvoicesTestRunner"></class>
            <class name="org.example.Runner.CancelInvoiceTestRunner"></class>
            <class name="org.example.Runner.CollectionsTestRunner"></class>
        </classes>
    </test>
</suite>