<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="G:/Abul Hossain Chowdhury/Projects/AIR_Automation">
        <classes>
            <class name="org.example.Runner.LoginTestRunner"></class>
            <class name="org.example.Runner.DashboardTestRunner"></class>
            <class name="org.example.Runner.ContactsTestRunner"></class>
            <class name="org.example.Runner.PreInvoiceTestRunner"></class>
            <class name="org.example.Runner.OrderTestRunner"></class>
            <class name="org.example.Runner.CancelOrderTestRunner"></class>
            <class name="org.example.Runner.FinishGoodsStoreTestRunner"></class>
            <class name="org.example.Runner.GoodsRequisitionTestRunner"></class>
            <class name="org.example.Runner.DistributorInvoicesTestRunner"></class>
            <class name="org.example.Runner.CancelInvoiceTestRunner"></class>
            <class name="org.example.Runner.CollectionsTestRunner"></class>
            <class name="org.example.Runner.OfferTestRunner"></class>
            <class name="org.example.Runner.Complementary_InvoiceTestRunner"></class>
            <class name="org.example.Runner.SalesReturnTestRunner"></class>
            <class name="org.example.Runner.LoadingSheetTestRunner"></class>
            <class name="org.example.Runner.DistributorsTestRunner"></class>
            <class name="org.example.Runner.GeoLocationMappingTestRunner"></class>
            <class name="org.example.Runner.AppsTestRunner"></class>
            <class name="org.example.Runner.ProductCategoriesTestRunner"></class>
            <class name="org.example.Runner.ProductsTestRunner"></class>
            <class name="org.example.Runner.AuditStockUpdateTestRunner"></class>
        </classes>
    </test>
</suite>